{% extends 'dashboard_base.html' %}
{% block content %}
    {% load template_roles %}
    <div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                 <i class="fa  fa-user-plus"></i> {% if edit_user.id == request.user.id %}Edit Profile : {% elif edit_user %}Edit User : {{ edit_user.first_name }} {% else %} Add User :{% endif %}
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{% url 'dashboard:index' %}">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Edit User
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
 <form action="{{ action }}" method="POST">
    <div class="row">
        <div class="col-lg-6 border-right">

                {{ user_form.non_field_errors }}
                {{ user_profile_form.non_field_errors }}
                {% csrf_token %}
                <div class="form-group {% if user_form.first_name.errors %}has-error{% endif %}">
                    {{ user_form.first_name.errors }}
                    <label class="control-label" for="{{ user_form.first_name.id_for_label }}">First Name</label>
                    {{ user_form.first_name }}
                </div>
                <div class="form-group {% if user_form.last_name.errors %}has-error{% endif %}">
                    {{ user_form.last_name.errors }}
                    <label class="control-label" for="{{ user_form.last_name.id_for_label }}">Last Name</label>
                    {{ user_form.last_name }}
                </div>
                <div class="form-group {% if user_form.email.errors %}has-error{% endif %}">
                    {{ user_form.email.errors }}
                    <label class="control-label" for="{{ user_form.email.id_for_label }}">Email</label>
                    {{ user_form.email }}
                </div>

                <div class="form-group {% if user_profile_form.gender.errors %}has-error{% endif %}">
                    {{ user_profile_form.gender.errors }}
                    <label class="control-label" for="{{ user_profile_form.gender.id_for_label }}">Gender</label>
                    {{ user_profile_form.gender }}
                </div>





        </div>
        <div class="col-lg-6">
             {% if request.user|is_moderator %}
                    <div class="form-group {% if user_form.groups.errors %}has-error{% endif %}">
                        {{ user_form.groups.errors }}
                        <label class="control-label" for="{{ user_form.groups.id_for_label }}">Roles</label>
                        {{ user_form.groups }}
                    </div>
                {% endif %}
                <div class="form-group {% if user_profile_form.phone_number.errors %}has-error{% endif %}">
                    {{ user_profile_form.phone_number.errors }}
                    <label class="control-label" for="{{ user_profile_form.phone_number.id_for_label }}">Phone
                        Number</label>
                    {{ user_profile_form.phone_number }}
                </div>
                <div class="form-group {% if user_profile_form.age.errors %}has-error{% endif %}">
                    {{ user_profile_form.age.errors }}
                    <label class="control-label" for="{{ user_profile_form.age.id_for_label }}">Age</label>
                    {{ user_profile_form.age }}
                </div>
        </div>

    </div>
   <hr/>
   <div class="form-group ">
  <button type="submit" class="btn btn-success">{% if edit_user.id == request.user.id %}Save Profile {% elif edit_user %}Save User Data {% else %} Add
                    User Data {% endif %}</button>
   </div>
    </form>
    </div>

{% endblock %}

