{% extends 'dashboard_base.html' %}
{% block content %}
    {% load template_roles %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <i class="fa  fa-plus-circle"></i> Add Page
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="{% url 'dashboard:index' %}">Dashboard</a>
                    </li>
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="{% url 'dashboard:pages' %}">Pages</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i> Add Category Page
                    </li>

                </ol>

            </div>
        </div>
        <!-- /.row -->
        <form action="{{ action }}" method="POST" id="add_page_form" enctype="multipart/form-data">
            {{ page_form.non_field_errors }}
            <div class="row">


                <div class="col-md-6 col-lg-6">


                    {% csrf_token %}

                 <div class="form-group {% if page_form.main_image.errors %}has-error{% endif %} parent-select">
                        {{ page_form.main_image.errors }}
                        <label class="control-label" for="{{ page_form.main_image.id_for_label }}">Select Image</label>
                        {{ page_form.main_image }}
                    </div>
                  <div class="form-group {% if page_form.main_image_quote.errors %}has-error{% endif %} parent-select">
                        {{ page_form.main_image_quote.errors }}
                        <label class="control-label" for="{{ page_form.main_image_quote.id_for_label }}">Quote for Image</label>
                        {{ page_form.main_image_quote }}
                    </div>
                <div class="form-group {% if page_form.main_image_quote_sub.errors %}has-error{% endif %} parent-select">
                        {{ page_form.main_image_quote_sub.errors }}
                        <label class="control-label" for="{{ page_form.main_image_quote_sub.id_for_label }}">Sub Quote for Image</label>
                        {{ page_form.main_image_quote_sub }}
                    </div>
                    <div class="form-group {% if page_form.parent.errors %}has-error{% endif %} parent-select">
                        {{ page_form.parent.errors }}
                        <label class="control-label" for="{{ page_form.parent.id_for_label }}">Select parent
                            Category</label>
                        {{ page_form.parent }}
                    </div>
                 <div class="form-group {% if page_form.short_title.errors %}has-error{% endif %}">
                        {{ page_form.short_title.errors }}
                        <label class="control-label" for="{{ page_form.short_title.id_for_label }}">Short Page
                            Title*</label>
                        {{ page_form.short_title }}
                    </div>
                    <div class="form-group {% if page_form.title.errors %}has-error{% endif %}">
                        {{ page_form.title.errors }}
                        <label class="control-label" for="{{ page_form.title.id_for_label }}">Page
                            Title*</label>
                        {{ page_form.title }}
                    </div>
                    <div class="form-group {% if page_form.slug.errors %}has-error{% endif %}">
                        {{ page_form.slug.errors }}
                        <label class="control-label" for="{{ page_form.slug.id_for_label }}">Page
                            Url*</label>
                        {{ page_form.slug }}
                    </div>
                    <div class="form-group {% if page_form.description.errors %}has-error{% endif %}">
                        {{ page_form.description.errors }}
                        <label class="control-label" for="{{ page_form.description.id_for_label }}">Page
                            Description</label>
                        {{ page_form.description }}
                        <div class="text-editor" style="min-height: 200px;">
                            {{ page_form.description.value|default_if_none:""|safe }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Show in homepage</label>
                        {% for radio in page_form.show_in_homepage %}
                            <label class="radio-inline" for="value_{{ forloop.counter0 }}">
                                {{ radio.tag }}{{ radio.choice_label }}</label>
                        {% endfor %}
                    </div>
                    {% if request.user|is_moderator %}
                        <div class="form-group">
                            <label>Page Status</label>
                            {% for radio in page_form.status %}
                                <label class="radio-inline" for="value_{{ forloop.counter0 }}">
                                    {{ radio.tag }}{{ radio.choice_label }}</label>
                            {% endfor %}
                        </div>
                    {% endif %}


                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="form-group {% if page_form.meta_keywords.errors %}has-error{% endif %}">
                        {{ page_form.meta_keywords.errors }}
                        <label class="control-label" for="{{ page_form.meta_keywords.id_for_label }}">Page
                            Meta Keywords*</label>
                        {{ page_form.meta_keywords }}
                    </div>
                    <div class="form-group {% if page_form.meta_description.errors %}has-error{% endif %}">
                        {{ page_form.meta_description.errors }}
                        <label class="control-label" for="{{ page_form.meta_description.id_for_label }}">Page
                            Meta Description*</label>
                        {{ page_form.meta_description }}
                    </div>

                    <div class="form-group {% if cta_form.name.errors %}has-error{% endif %}">
                        {{ cta_form.name.errors }}
                        <label class="control-label" for="{{ cta_form.name.id_for_label }}">Cta Button Title</label>
                        {{ cta_form.name }}
                    </div>
                    <div class="form-group {% if cta_form.url.errors %}has-error{% endif %}">
                        {{ cta_form.url.errors }}
                        <label class="control-label" for="{{ cta_form.url.id_for_label }}">Cta Button Url</label>
                        {{ cta_form.url }}
                    </div>

                    <div class="form-group {% if page_form.templates.errors %}has-error{% endif %}">
                        {{ page_form.templates.errors }}
                        <label class="control-label" for="{{ page_form.templates.id_for_label }}">Attach
                            Templates*</label>
                        {{ page_form.templates }}
                    </div>
                    <div class="form-group">
                        <label>Keywords</label>
                        <select name="keyword" class="js-example-tags form-control" id="keyword" multiple="multiple">
                            <option name="">Select</option>
                            {% for keyword in keywords %}
                                <option name="{{ keyword.keyword }}"
                                        {% if keyword.keyword in selected_keywords %}selected="selected"{% endif %}>{{ keyword.keyword }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


            </div>
            <hr/>

            {% if request.user|is_moderator %}
                <div class="form-group ">

                    <button type="submit" name="submit" value="save" class="btn btn-default btn-success">Save the Page
                    </button>

                </div>
            {% else %}
                {% if page_form.status.value == 2 %}
                <div class="form-group ">

                    <button type="submit" name="submit" value="save" class="btn btn-default btn-success">Save the Page</button>

                </div>
                  {% else %}
                     <div class="form-group ">

                    <button type="submit" name="submit" value="draft" class="btn btn-default btn-primary">Save as Draft</button>
                      <button type="submit" name="submit" value="moderation" class="btn btn-default btn-success">Submit for moderation</button>

                </div>
                {% endif %}
            {% endif %}
        </form>


    </div>

{% endblock %}
{% load static %}
{% block extra_js %}
    <script src="//cdn.quilljs.com/1.2.4/quill.min.js"></script>
    <script src="{% static 'js/select2.full.min.js' %}"></script>
    <script src="{% static 'js/urlify.js' %}"></script>
      {% if not page_form.instance.id %}
    <script type="text/javascript">
        document.getElementById("id_title").onkeyup = function () {
            var e = document.getElementById("id_slug");
            if (!e._changed) {
                e.value = URLify(document.getElementById("id_title").value, 100);
            }
        }
    </script>
    {% endif %}
    <script>
        $("#keyword").select2({
            theme: "classic",
            tags: true,
            tokenSeparators: [',']

        });
        $(".templates-input").select2({
            theme: "classic"


        });

        $(document).ready(function () {

            $("#add_page_form").submit(function () {
                editor_html = document.querySelector(".ql-editor").innerHTML;

                $(".description").val(editor_html)
                return true
            });
            var quill = new Quill('.text-editor', {
                modules: {
                    toolbar: [
                        ['bold', 'italic', 'underline', 'strike'],
                        ['blockquote', 'code-block'],

                        [{'header': 1}, {'header': 2}],
                        [{'list': 'ordered'}, {'list': 'bullet'}],
                        [{'script': 'sub'}, {'script': 'super'}],
                        [{'indent': '-1'}, {'indent': '+1'}],
                        [{'direction': 'rtl'}],

                        [{'size': ['small', false, 'large', 'huge']}],
                        [{'header': [1, 2, 3, 4, 5, 6, false]}],

                        [{'color': []}, {'background': []}],
                        [{'font': []}],
                        [{'align': []}],

                        ['clean'],
                        ['image', 'link']
                    ]
                },
                placeholder: 'Start Typing',
                theme: 'snow'  // or 'bubble'
            });
        });

    </script>
{% endblock %}
{% block extra_css %}
    <link href="//cdn.quilljs.com/1.2.4/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.2.4/quill.bubble.css" rel="stylesheet">
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet">
{% endblock %}